<template>

  <div id="chat" >
    <div id="contenedor">
    <!--  <input type="button" value="Menu" id="btn_menu" @click="openMenu"> -->
      <div id="caja">
      <h4 v-for="mgs in mgs_list" id="msg">
        {{username}} : {{mgs}}
      </h4>
      </div>
    </div>
    <input type="button" value="M" id="btn_chat">
    <div id="controles">
      <input type="text" id="texto" v-model= "mensaje" @keyup.enter='sendMessage()' placeholder="Escribe" autocomplete="off">
      <input type="button" @click='sendMessage()' value="Enviar" id="enviar">
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      mgs_list: [],
      mensaje: ''
    }
  },
  computed: {
    username(){
      return this.$store.state.displayName
    }
  },
  sockets:{
    chat_message: function(mgs){
      this.mgs_list.push(mgs.message)
      $('#contenedor').animate({ scrollTop: $('#contenedor')[0].scrollHeight}, 500)
      this.mensaje = ""
    },
    old_mgs: function (items) {
      console.log(`Estas en VUE con: ${items}`)
      this.mgs_list.push(items)
    }
  },
  methods:{
    sendMessage: function () {
      this.$socket.emit('chat_message', {
        user: this.username,
        message: this.mensaje
      })
    }
  }
}
</script>
<style scoped>
#controles{
  display: block;
  position: fixed;
  width: 95%;
  bottom: 2px;
  z-index: 2;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-left: 0px;
  padding-top: 5px;
  margin-left: 40px;
  margin-right: auto;
}
#texto{
  float: left;
  width: 91%;
  height: 35px;
  margin: auto;
  margin-left: 0px;
  padding-left: 8px;
  border: solid 2px;
  border-color: rgb(62, 210, 198);
  border-radius: 10px;
}
#enviar{
  border: none;
  font-size: 20pt;
  background-color:rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin-top: 2px;
}
#contenedor{
  position: fixed;
  width: 93.8%;
  overflow: auto;
  height: 80%;
  z-index: 2;
  top:auto;
  text-align: left;
  background-color: rgba(194, 240, 255, 0.7);
  margin-left: 0px;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 2px;
  border: solid 2px;
}
#msg{
  position: relative;
  scroll-behavior: auto;
  display: flow-root;
	vertical-align: text-bottom;

}
#btn_chat{
  z-index: 10;
  padding: 2px;
  width: 1.5%;
  margin-top: 45%;
  margin-left: 0.5%;
  text-align: left;
}
#btn_menu{
  margin-left: 2px;
  display: table-column;
  float: left;
}
#caja{
  position: absolute;
  z-index: 2;
  margin-top: 35%;

}

</style>
