<template lang="html">
  <div id="login">
    <h2>Login Cutre</h2>
    <form @submit.prevent="login" id="formulario_login">
      <div>
      <p><label for="email">Email : </label>
        <input type="email" v-model="email" id="email" placeholder="Email"></p>
      <p><label for="password">Password : </label>
        <input type="password" v-model="password" id="password" placeholder="Password"></p>
      </div>
      <p><input type="submit" id="login_btn" value="Login"></p>
    </form>
    <router-link to="Register">Registrarse</router-link><br>
    <input type="button" @click="entrar" v-if="enter" id="entrar" value="Entrar">
  </div>
</template>

<script>
import firebase from 'firebase'
export default {
  name: 'login',
  data() {
    return {
      email: "",
      password: "",
      enter: false
    }
  },
  methods:{
    login(){
      firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(
        (user) => {
          alert(`Conectado: ${user.email}`)
          this.$router.push('Chat')
        },
        (err) => {
          alert('Ha ocurrido un error' +err.message)
        }
      )
    }
  }
}
</script>

<style lang="css">
#login{
  border-radius: 1.2em;
  padding: 1em 2em 2em 2em;
  display: run-in;
  background-color: rgba(96, 212, 81, 0.75);
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#email{
  margin-bottom: 1.2em;
  margin-left: 2.9em;
  width: 50%;
  height: 2em;
}
#password{
  margin-left: 1.2em;
  width: 50%;
  height: 2em;
  margin-bottom: 1.2em;
}
#login_btn{
  float: right;
  margin-top: 1.2em;
}
#displayName{
  margin-left: 1.1em;
}
h2 {
  font-size: 50pt;
}
form div{
  margin-left: 1.2em;
}
#entrar{
  margin-top: 1.4em;
}
</style>
