<template>
  <div id="nav_bar">
    <nav v-on:click.prevent>
      <div>
          <router-link to="Home">Home</router-link>
          <router-link to="Chat">Chat</router-link>
          <router-link to="Perfil">Perfil</router-link>
        <a class="configuracion">
          Configuracion</a>
      </div>
      <div id="salir">
        <a @click="logOut" class="salir">Salir</a>
      </div>
    </nav>
  </div>
</template>

<script>
import firebase from 'firebase'
export default {
  name: 'navbar',
  methods: {
    logOut(){
      firebase.auth().signOut().then(() => {
      this.$router.replace('login')
      })
    }
  }

}
</script>

<style scoped>
#salir {
  margin-left: 220%;
  margin-top: -33px;
  background-color: rgb(244, 97, 62);
}
nav div a{
  margin-left: 10px;
}
nav{
  position: fixed;
  z-index: 3;
  background-color: rgba(121, 240, 179, 0.3);
  font-size: 20pt;
  margin-left: 30%;
  margin-right: auto;
  margin-top: 10px;
}
nav div a{
  margin-left: 10px;
}

</style>
