<template lang="html">
  <div id="register">
    <h2>Registro Cutre</h2>
    <form action="/users/new" method="post" id="formulario_registro">
      <div>
      <p><label for="email"> Sad Email : </label>
        <input type="text" id="email" name="email" placeholder="Email"></p>
      <p><label for="password">Crying Password : </label>
        <input type="password" id="password" name="password" placeholder="Password"></p>
        <p><label for="displayName">Display Name: </label>
          <input type="text" id="displayName" name="displayName" placeholder="Display Name"></p>
      </div>
      <p><input type="submit" id="registro" name="" value="Registrarse :("></p>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {

    }
  }
}
</script>

<style lang="css">
#register{
  border-radius: 1.2em;
  padding: 1em 2em 2em 2em;
  display: run-in;
  background-color: rgba(96, 212, 81, 0.75);
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#email{
  margin-bottom: 1.2em;
  margin-left: 2.9em;
  width: 50%;
  height: 2em;
}
#password{
  margin-left: 1.2em;
  width: 50%;
  height: 2em;
  margin-bottom: 1.2em;
}
#registro{
  float: right;
  margin-top: 1.2em;
}
#displayName{
  margin-left: 1.1em;
  height: 1.7em;
}
h2 {
  font-size: 50pt;
}
form div{
  margin-left: 1.2em;
}
</style>
