<template lang="html">
  <div @keyup.tab='openMenu'>
    <nav_bar id="menu" v-if='barra_visible'>
    </nav_bar>
    <router-view>

    </router-view>
  </div>
</template>

<script>
import nav_bar from './components/navBarMain.vue'

export default {
  name: 'app',
  data(){
    return {
      barra_visible: false
    }
  },
  components: {
    'nav_bar': nav_bar
  },
  methods: {
    openMenu() {
      if(!this.barra_visible){
        this.barra_visible = true
        console.log('Mostrando barra_visible')
      }else{
        this.barra_visible = false
        console.log('Ocultando barra_visible')
      }
    }
  }
}
</script>

<style lang="css">
</style>
